@model AllSoldOut.ViewModel.PhoneDetailsViewModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Details";
}




<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li><a asp-action="Index">All Categories</a></li>
                    <li><a asp-action="Category" asp-route-id="@Model.products.productCategory">@Html.DisplayFor(model => model.products.productCategory)</a></li>
                    <li class="active">@Html.DisplayFor(model => model.products.productName)</li>

                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="@ViewBag.path" alt="" style="width:14em; height:21em;">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Html.DisplayFor(model => model.products.productName)</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link" href="#">10 Review(s) | Add your review</a>
                    </div>
                    <div>
                        <h3 class="product-price">$@Html.DisplayFor(model => model.products.productPrice) </h3>
                        <span class="product-available">In Stock</span>
                    </div>
                    <p>@Html.DisplayFor(model => model.products.productDescription)</p>

                    <dl class="row">
                        <dt class="col-sm-5">Operating System: </dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.specifications.platformOS)</dd>
                        <dt class="col-sm-5">Color: </dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.products.productColor)</dd>
                        <dt class="col-sm-5">Dimension: </dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.specifications.bodyDimension)</dd>
                        <dt class="col-sm-5">Resolution: </dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.specifications.displayResolution)</dd>
                        <dt class="col-sm-5">Memory-RAM: </dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.specifications.ram) GB</dd>
                        <dt class="col-sm-5">Memory-ROM: </dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.specifications.internalMemory) GB</dd>
                        <dt class="col-sm-5">Camera Power: </dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.specifications.camera) Mega Pixel</dd>
                        <dt class="col-sm-5">Battery Life: </dt>
                        <dd class="col-sm-7">@Html.DisplayFor(model => model.specifications.bodyDimension) Hours</dd>
                    </dl>
                    

                    <form asp-action="AddToCart" method="post">
                        <input type="hidden" asp-for="@Model.products.productId" name="productId" />
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Qty
                                <div class="input-number">
                                    <input type="number" id="qty" name="quantity">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                    <span asp-validation-for="carts.quantity" class="text-danger"></span>
                                </div>
                            </div>
                            <button class="add-to-cart-btn" type="submit"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>
                        @{
                            if (ViewBag.successMessage != null)
                            {
                                <p class="text-center alert alert-success"><strong>@ViewBag.successMessage</strong></p>
                            }
                        }
                    </form>


                    
                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<div class="pull-right">
    <a asp-action="Index">Back to List</a>
</div>

